<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="mulCheckApp" ng-controller="mulCheckAppCtrl">
  <label ng-repeat="uf in favorite">
    <input type="checkbox" name="selectedFavor[]" value="{{ uf }}" ng-click="changeStatus(uf)"> {{ uf }}
  </label>

  <pre>
    {{ selection | json }}
  </pre>
  <script src="index.js"></script>
</body>
</html>
