<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="">
</head>
<body ng-app="service02App" ng-controller="service02AppCtrl">
  <input type="text" ng-model="userInput">
  <button ng-click="reverseString(userInput)">Reverse</button>

  <p>Result: {{ result }}</p>
  <script src="index.js"></script>

</body>
</html>
