* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  color: red;
}
#wrapper {
  width: 420px;
  min-height: 600px;
  border: 1px solid gray;
  margin: auto;
  margin-top: 20px;
}

#header {
  height: 80px;
  background-color: rgb(202, 0, 24);
  color: white;
  line-height: 80px;
  font-size: 25px;
  padding-left: 20px;
  position: relative;
}

#header div{
  position : absolute;
  left: 350px;
  top: -2px;
}

#header div img {
  width: 50px;

}
#menu {
  height: 60px;
  border-bottom: 3px solid lightgray;
  background-color: rgb(255, 255, 255);
  line-height: 54px;
}

#menu div {
  float: left;
  width: 139px;
  text-align: center;
  font-size: 18px;
  color: rgb(202, 0, 24);
  cursor: pointer;
}

.active {
  border-bottom: 5px solid rgb(202, 0, 24);
}

#menu div a {
  display: block;
  text-decoration: none;
  color: rgb(202, 0, 24);
}

#content {
  height: 458px;
}

/* LIST LOCATION CONFIG */
#list-favourite-body  {
  width: 420px;
  height: 458px;
  overflow-y: auto;
  position: relative;
}

div.input-area  {
  text-align: right;
  width: 300px;
  height: 50px;
  left: 529px;
  top: 555px;
  position: fixed;
  z-index: 3;
}

.search-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  width: 50px;
  background-image: url('assets/imgs/search02.png') ;
  background-position: -5px -5px;
  background-repeat: no-repeat;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  text-indent: 50px;
  border: 1px solid transparent;
  border-radius: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 50px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.location-item {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  line-height: 30px;
  z-index: 1;
}

.location-item div h3 {
  color: rgb(202, 0, 24);
}

.location-item div img {
  width: 50px;
}

.location-item-info, .location-item-favor {
  float: left;
}

.location-item-info {
  width: 85%;
  color: black;
}

.location-item-favor {
  width: 15%
}

.clearfix {
  clear: both;
}

/* MAP */
#map-area {
  height: 458px;
  position: relative;
}

#map {
  height: 458px;
}

.controls {
  margin-top: 380px;
  border: 1px solid transparent;
  border-radius: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 50px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  position: absolute;
  right: 0px;
  bottom: 10px;
  margin-right: 20px;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  width: 50px;
  background-image: url('assets/imgs/search02.png') ;
  background-position: -5px -5px;
  background-repeat: no-repeat;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  text-indent: 50px;
}

#pac-input:focus, .search-input:focus {
  border-color: #4d90fe;
  width: 300px;
  background-image: url('assets/imgs/search01.png') ;
  background-position: 256px 9px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  text-indent: 10px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

/* DETAIL PAGE */
#detail-map-wrapper {
  min-height: 600px;
}

#detail-map-area {
  position: relative;
}

#detail-back {
  width: 145px;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 5px;
  border-radius: 20px;
  padding: 4px;
  background-color: rgba(191, 191, 191, 0.86);
  vertical-align: center;
  color: white;
}
#detail-back:hover {
  background-color: rgba(202, 0, 24, 0.76);
}
#detail-back img {
  width: 20px;
}
#detail-map {
  height: 120px;
  background-color: #d9d9d9;
}

#detail-title {
  position: relative;
  background-color: rgb(202, 0, 24);
  height: 70px;
  padding-left: 20px;
  padding-top: 10px;
  color: white;
}

#detail-title div {
  width: 300px;
}

#detail-title img {
  position: absolute;
  width: 90px;
  top: -50px;
  right: 10px;
}

#detail-manipulate {
  padding: 10px 0;
  height: 90px;
  border-bottom: 2px solid #d9d9d9;
}

#detail-manipulate div {
  float: left;
  width: 139px;
  text-align: center;
  font-size: 17 px;
}

.detail-manipulate-img img {
  width: 40px;
  height: 35px;
  margin: 5px;
}

.detail-contact {
  border-bottom: 1px solid #d9d9d9;
  min-height: 75px;
  padding: 5px 10px;
  font-size: 17px;
}

.detail-contact .detail-icon {
  width: 40px;
  float: left;
  padding: 10px;
  margin-right: 30px;
}

.detail-icon img {
  width: 40px;
}

.detail-format div {
  float: left;
}
.detail-address-info {
  width: 367px;
  padding-top: 3px;
  padding-left: 70px;
}

.detail-info  {
  width: 290px;
  height: 60px;
}

.detail-info input {
  mar
}
.detail-format div p {
  margin-top: 15px;
}

.input-edit {
  margin-top: 6px;
  width: 260px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  border-radius: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-indent: 20px;
  outline: none;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 0;
}

.detail-edit {
  float: left;
  margin-top: 12px;
}

.detail-edit img {
  width: 30px;
}

#btnUpdate {
  background-color: rgb(202, 0, 24);
  color: white;
  font-size: 18px;
  border: none;
  height: 50px;
  width: 300px;
}

.detail-button-area {
  text-align: center;
  padding-top: 10px;
}
